.signup-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.signup-header img {
  width: 102px;
  height: 102px;
}

.signup-bg-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.signup-container {
  position: relative;
  z-index: 1;
  border-radius: 30px;
  background-color: #fffdf6;
  padding: 40px 60px;
  max-width: 500px;
  height: 900px;
  width: 90%;
  box-shadow: 0 5px 20px #00000033;
}

.signup-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.signup-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  width: 350px;
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signup-form-group input {
  background-color: #fff7ea;
  border: 1px solid #be813c;
  border-radius: 25px;
  padding: 15px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.terms-conditions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.text-color {
  color: #be813c;
}

.sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-btn Button {
  width: 100%;
  padding: 5px;
  color: #ffffff;
  font-size: 24px;
  border-radius: 40px;
  text-transform: none;
  background-color: #975a2f;
}

.sign-up-btn Button:hover {
  background-color: #b27950;
}

.signup-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-divider .line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
  width: 100%;
  height: 1px;
  background-color: #be813c;
}

.signup-divider p {
  color: #72757a;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}

.sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
}

.sign-btn p {
  font-size: 16px;
  color: #72757a;
}

.sign-btn .signup-btn {
  font-size: 16px;
  color: #975a2f;
}

.sign-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  position: relative;
  left: -11px;
  color: #72757a;
  gap: 5px;
}

.sign-back-btn p {
  font-size: 16px;
}

.sign-btn-group:hover {
  font-weight: 500;
  color: #000000;
  text-decoration: underline;
}

.arrow {
  position: relative;
  top: 2px;
}

/* Phones */
@media (max-width: 600px) {
  .login-container {
    padding: 30px 25px;
    max-width: 100%;
  }

  .login-header img {
    width: 75px;
    height: 75px;
  }

  .login-header h1 {
    font-size: 26px;
    max-width: 280px;
  }

  .form-group input {
    height: 50px;
    font-size: 16px;
  }

  .login-option {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .login-btn Button {
    font-size: 18px;
  }

  .login-divider p {
    font-size: 13px;
  }

  .login-sign-up-btn p,
  .signup-btn {
    font-size: 14px;
  }
}