.bg-image img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 50%;
}

.image-trade-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 4%;
  font-size: 25px;
  gap: 25px;
}

.image-trade-name h1 {
  font-size: 100px;
}

.image-trade-name h2 {
  font-weight: 500;
  color: #824921;
}

.image-trade-name p {
  font-weight: 500;
  color: #6c7a51;
}

.book-btn {
  border-radius: 30px;
  padding: 10px 40px;
  font-family: Inter;
  position: absolute;
  top: 80%;
  left: 43%;
}

.book-btn button {
  background-color: #ae5c20;
  font-size: 20px;
  border-radius: 30px;
  padding: 5px 40px;
  font-family: Inter;
  text-transform: none;
}

.book-btn button:hover {
  background-color: #d4712b;
}
