body {
  background-color: #fff7ea;
}

.room-suites-container {
  height: 100vh;
}

.room-suites-header {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 40px;
  color: #b27950;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.title h2 {
  color: #6c7a51;
  font-size: 64px;
}

.title p {
  font-family: "Playfair Display";
  color: #808d68;
  font-size: 20px;
  padding-bottom: 30px;
}

.room-card {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 20px;
}
