.about-us-container {
  display: flex;
  padding: 80px;
  justify-content: space-evenly;
  background-color: #fffdf6;
  height: 100vh;
  gap: 30px;
}

.about-us-container p {
  font-size: 24px;
  font-weight: 200;
}

.about-us-header {
  color: #ae5c20;
  padding-top: 50px;
}

.our-story-info {
  display: flex;
  flex-direction: column;
  gap: 55px;
  color: #808d68;
}

.our-story-info h3 {
  font-family: "Playfair Display";
  width: 450px;
  font-size: 48px;
  font-weight: 400;
}

.values-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 160px;
  width: 120%;
}

.our-values {
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0px 8px 5px 5px #cec3c3;
  background-color: #ffffff;
  border-radius: 30px;
}

.our-values p {
  display: flex;
  color: #808d68;
  margin-left: 85px;
  font-size: 20px;
}

.values {
  display: flex;
  gap: 30px;
}

.values img {
  width: 50px;
}

.values h2 {
  font-size: 32px;
  font-weight: 300;
  font-family: "Inter";
}
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons h5 {
  font-weight: 300;
  font-size: 36px;
}

.icons p {
  font-size: 15px;
  color: #72757a;
}

.rooms-available {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ae5c20;
}

.ratings {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  color: #ae5c20;
}
