.sidebar-container {
  display: flex;
  background-color: #ffffff;
  height: 100vh;
}

.sidebar-content {
  width: 340px;
  background-color: #ffffff;
  border-right: 1px solid #e4d5c7;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid #e4d5c7;
}

.sidebar-header img {
  width: 60px;
  height: 60px;
  position: relative;
  top: -5px;
}

.header {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  padding: 20px 0px 0px 20px;
}

.header h1 {
  color: #4a5a47;
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
}

.sidebar-header p {
  margin-top: -5px;
  color: #8b7355;
  font-size: 14px;
  position: relative;
  top: -28px;
  left: 87px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.links {
  font-size: 18px;
  color: #4a5a47;
}

.nav .links {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px 20px;
  border-radius: 12px;
}

.nav .links:hover {
  background: #4a5a47;
  color: #ffffff;
}

.nav .links.active {
  background: #4a5a47;
  color: #ffffff;
}

.log-out-btn {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 500px;
}

.bottom-divider {
  height: 1px;
  background: #00000033;
  margin: 20px auto;
  width: 80%;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
  padding: 15px 20px;
  color: #be813c;
  cursor: pointer;
}

.icons {
  width: 18px;
  height: 18px;
}

.main-content {
  flex-grow: 1;
  background-color: #f5efe7;
  overflow-y: auto;
}

/*                  TABLETS                   */
@media (max-width: 1024px) {
  .sidebar-content {
    width: 280px;
  }

  .header h1 {
    font-size: 20px;
  }

  .nav .links {
    font-size: 16px;
    padding: 10px 16px;
  }

  .logout-btn {
    padding-left: 30px;
  }
}

/*                MOBILE VIEW                 */
@media (max-width: 768px) {
  .sidebar-content {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 260px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    z-index: 2000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  }

  .sidebar-content.open {
    left: 0;
  }

  .main-content {
    width: 100%;
  }

  .header h1 {
    font-size: 18px;
  }

  .nav .links {
    font-size: 16px;
    padding: 10px;
  }
}

/*          EXTRA SMALL PHONES (360px)        */
@media (max-width: 360px) {
  .sidebar-content {
    width: 220px;
  }

  .header h1 {
    font-size: 16px;
  }

  .nav .links {
    font-size: 14px;
  }

  .logout-btn {
    font-size: 14px;
  }
}
