.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #819471;
  padding: 60px 40px;
  flex-wrap: wrap;
  gap: 40px;
}

/* Left Section */
.footer-header {
  display: flex;
  gap: 15px;
}

.footer-content img {
  height: 50px;
  width: 50px;
}

.footer-content h1 {
  color: #ffffff;
  font-size: 32px;
}

.footer-container p {
  max-width: 500px;
  color: #ffffff;
}

/* Social Icons */
.footer-icons {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.footer-icon {
  padding: 10px;
}

/* Quick Links */
.links-header {
  padding-top: 20px;
}

.links-header h2 {
  font-size: 20px;
  color: #ffffff;
}

.quickLinks {
  color: #ffffff;
}

.quickLinks li {
  font-size: 18px;
  opacity: 0.9;
  font-weight: 400;
  padding-top: 15px;
  cursor: pointer;
}

/* Contact Section */
.contact-content {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.contact-content p {
  max-width: 220px;
  font-size: 16px;
  opacity: 0.8;
}

/* Content Header */
.content-header {
  padding-top: 20px;
  font-size: 20px;
}

.content-header h2 {
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 10px;
}

.email-link {
  opacity: 0.8;
  color: #ffffff;
}
.email-link:hover {
  text-decoration: underline;
}

/* Divider */
.footer-divider {
  height: 1px;
  background-color: #ffffff80;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #819471;
  color: white;
  padding: 20px 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-bottom p {
  font-size: 15px;
}

.footer-bottom-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.footer-bottom-links a:hover {
  text-decoration: underline;
}

/* ------------------------------- */
/*        RESPONSIVENESS          */
/* ------------------------------- */

/* Tablets */
@media (max-width: 992px) {
  .footer-container {
    justify-content: center;
    text-align: center;
  }

  .footer-container p {
    max-width: 100%;
  }

  .footer-icons {
    justify-content: center;
  }

  .quickLinks li {
    text-align: center;
  }
}

/* Phones */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-header {
    justify-content: center;
  }

  .quickLinks li {
    padding-top: 10px;
  }

  .contact-content {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom-links a {
    margin-left: 10px;
  }
}
