.login-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-header img {
  width: 102px;
  height: 102px;
}

.login-bg-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.login-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 350px;
}

.login-container {
  position: relative;
  z-index: 1;
  border-radius: 30px;
  background-color: #fffdf6;
  padding: 40px 60px;
  max-width: 700px;
  height: 900px;
  width: 90%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group label {
  color: #808d68;
}

.form-group input:focus::placeholder {
  color: transparent;
}

.form-group input {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  padding-left: 20px;
  font-size: 24px;
  border-radius: 25px;
  background-color: #fff7ea;
  border: 1px solid #be813c;
}

.form-group input::placeholder {
  font-size: 20px;
  transform: translateX(5px) translateY(1px);
}

.login-option {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 20px;
}

.remember-me input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #6461f3;
  cursor: pointer;
}

.remember-me p {
  color: #72757a;
  font-size: 16px;
}

.forgot-btn {
  font-size: 16px;
  font-weight: 500;
  color: #975a2f;
}

.forgot-btn:hover {
  color: #b27950;
  text-decoration: underline;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn Button {
  width: 100%;
  padding: 5px;
  color: #ffffff;
  font-size: 24px;
  border-radius: 40px;
  text-transform: none;
  background-color: #975a2f;
}

.login-btn Button:hover {
  background-color: #b27950;
}

.login-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-divider .line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
  width: 100%;
  height: 1px;
  background-color: #be813c;
}

.login-divider p {
  color: #72757a;
  font-size: 16px;
  padding: 30px;
}

.login-sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-sign-up-btn p {
  font-size: 16px;
  color: #72757a;
}

.login-sign-up-btn .signup-btn {
  font-size: 16px;
  color: #975a2f;
}

.signup-btn:hover {
  text-decoration: underline;
}

.back-btn {
  display: flex;
  justify-content: center;

  padding: 100px;
}

.btn-group {
  display: flex;
  align-items: center;
  color: #72757a;
  gap: 5px;
}

.back-btn p {
  font-size: 16px;
}

.arrow {
  position: relative;
  top: 2px;
}
