@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Inter;
}

h1,
h2 {
  font-family: "Playfair Display";
  font-weight: lighter;
  font-size: 40px;
  color: #808d68;
}
